<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<script type="text/javascript" src="../js/main.js"></script>

用户名: <input type="text" id="username"><br>
密　码: <input type="text" id="password"><br>
<button onclick="sendLogin()">登录</button>

<p></p>


用户名: <input type="text" id="usernameReg"><br>
密　码: <input type="text" id="passwordReg"><br>
邮　箱: <input type="text" name="email"><br>
<button onclick="sendRegister()">注册</button>


<p></p>

<button onclick="sendHi()">打招呼</button>


</body>
</html>